/* --- Buttons & Links --- */
.btn {
  display: inline-block;
  padding: 0.75em 1.5em;
  text-decoration: none;
  border-radius: 9999px;
  font-size: var(--btn-size);
  font-weight: var(--btn-weight);
  line-height: var(--btn-line-height);
  letter-spacing: var(--btn-letter-spacing);
  transition: all 0.2s ease-in-out;
  text-align: center;
  width: 100%;
}

.primary-btn {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
}

.secondary-btn {
  color: var(--color-primary);
  background-color: transparent;
  border: 1px solid var(--color-primary);
}

.primary-btn:hover {
  background-color: #5a0000;
}

.secondary-btn:hover {
  background-color: var(--color-secondary);
}

/* --- Navigation Components --- */
#main-logo {
  height: 44px;
  width: 44px;
  margin: 0;
}

.upper-icons,
.upper-buttons {
  display: none;
}

/* --- Sidebar Components --- */
#sidebar-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  width: 44px;
  margin-left: auto;
  background-color: transparent;
  padding: 0.4rem 0;
  border: none;
}

.line {
  background-color: var(--color-primary);
  height: 3px;
  border-radius: 9999px;
  width: 100%;
}

#sidebar-exit-btn {
  width: 44px;
  height: 44px;
  position: absolute;
  top: var(--space-md);
  right: var(--space-lg);
  background: transparent;
  border: none;
  cursor: pointer;
}

#sidebar-exit-btn::before,
#sidebar-exit-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 44px;
  background-color: var(--color-primary);
  border-radius: 9999px;
}

#sidebar-exit-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

#sidebar-exit-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  margin: var(--space-xl) 0;
}

.sidebar-icons button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  font: inherit;
  padding: 0;
}

.sidebar-icons a,
.sidebar-icons button {
  text-decoration: none;
  border-bottom: 1px solid var(--color-tertiary);
  color: var(--color-primary);
  font-weight: 500;
  font-size: var(--btn-size);
  width: 100%;
  padding: var(--space-xs) 0;
}

.sidebar-buttons .btn {
  width: 100%;
  padding: 0.6em 1.2em;
  margin-bottom: var(--space-sm);
}

#sidebar-dropdown-content a {
  padding-left: var(--space-md);
  border-bottom: none;
}

#sidebar-dropdown-arrow {
  display: inline-block;
  margin-right: 10px;
  transition: 0.2s transform ease;
}

#sidebar-dropdown-arrow.open {
  transform: rotate(180deg) translateY(-5px);
}

/* -- Subjects Coomponents -- */

.rounded-box {
  width: 100%;
  border: 1px solid var(--color-tertiary);
  background-color: var(--color-white);
  border-radius: 20px;
}

.rounded-box-content {
  padding: var(--space-md) var(--space-lg);
}

.rounded-box h2 {
  margin-bottom: var(--space-md);
}

/* --- Navigation Dropdown --- */
#nav-dropdown-btn {
  cursor: pointer;
  width: auto;
}

#nav-dropdown-arrow {
  display: inline-block;
  margin-left: 10px;
  transition: 0.2s transform ease;
}

#nav-dropdown-arrow.open {
  transform: rotate(180deg) translateY(-5px);
}

#nav-dropdown-content a {
  color: var(--color-text);
  font-weight: 400;
  white-space: nowrap;
  border-bottom: 1px solid var(--color-secondary);
  border-radius: 10px 10px 0 0;
  padding: var(--space-xs) var(--space-xs);
}

#nav-dropdown-content a:last-child {
  border-bottom: none;
}

/* --- Hero Section Content --- */

.slide-up-card {
  margin-top: -50px;
  border-radius: 40px 40px 0 0;
}

#hero-text {
  display: flex;
  flex-direction: column;
}

.hero-title {
  margin-bottom: var(--space-md);
}

#hero-subtitle {
  font-size: var(--h3-size);
  margin-bottom: var(--space-lg);
  max-width: 65ch;
}

#hero-buttons {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  margin-bottom: var(--space-lg);
  width: 100%;
}

#hero-bottom-text {
  text-align: center;
  margin: 0 auto;
}

#hero-bottom-text h4 {
  margin-bottom: var(--space-sm);
}

#hero-bottom-text a {
  color: maroon;
  text-decoration: underline;
  font-size: var(--h4-size);
  border: none;
  padding: 0;
  margin-bottom: 0;
}

#hero-bottom-text a:hover {
  font-weight: 500;
}

#hero-circle {
  display: none;
}

.hero-title span {
  color: var(--color-primary);
}

/* --- Hours Section Content --- */
.hours-of-operation-inner {
  padding: var(--space-xl) 0;
  width: 100%;
  text-align: center;
}

.hours-of-operation-inner h1 {
  margin-bottom: var(--space-md);
}

.days-and-hours {
  display: grid;
  padding: var(--space-sm) 0;
  grid-template-columns: 1fr;
}

.days-and-hours:last-of-type {
  margin-bottom: var(--space-md);
}

.closed-info {
  font-weight: 500;
  color: var(--color-primary);
}

.days {
  font-weight: var(--h2-weight);
}

/* --- Work CTA Content --- */
#work-cta-text {
  text-align: center;
  width: 100%;
}

#work-cta-text h1 {
  margin-bottom: var(--space-lg);
}

#work-cta-text span {
  color: var(--color-primary);
  display: block;
}

/* --- Subjects Components --- */
#subjects-hero-content h3,
#subject-search {
  margin-top: 0;
  width: 0;
  min-width: 100%;
}

#subjects-hero-content h1,
#subjects-hero-content h3 {
  margin-bottom: var(--space-md);
}

#subjects-hero-content a {
  display: block;
  background-color: var(--color-gray);
  border-bottom: 2px solid var(--color-primary);
}

#subjects-hero-emphasis {
  text-align: center;
  color: var(--color-primary);
}

#subject-search {
  font-size: var(--btn-size);
  font-weight: var(--btn-weight);
  padding: 0.6em 1.5em;
  text-decoration: none;
  border-radius: 9999px;
  border: 1px solid var(--color-primary);
  outline: none;
}

/* --- Subjects Menu & Boxes --- */
#subjects-menu {
  padding: var(--space-lg) 0 var(--space-xl) 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
}

.subjects-content a {
  text-decoration: none;
  font-size: var(--btn-size);
  font-weight: 500;
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-secondary);
  border-radius: 10px 10px 0 0;
  padding: var(--space-xxs) var(--space-xs);
}

/* --- Contact Page Components --- */

.contact-box {
  border-top: 1px solid var(--color-secondary);
  transition: 0.1s background-color ease-in-out;
  padding: var(--space-md) 0;
}

.contact-box:last-child {
  border-bottom: 1px solid var(--color-secondary);
  margin-bottom: var(--space-xl);
}

.contact-box .container {
  display: flex;
  justify-content: center;
}

.contact-img {
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-sm);
  order: 1;
}

.contact-img img {
  width: clamp(7.5rem, 6.3636rem + 5.6818vw, 10.625rem);
  height: clamp(7.5rem, 6.3636rem + 5.6818vw, 10.625rem);
}

.contact-box:hover {
  background-color: var(--color-background);
}

.contact-box-text {
  text-align: center;
  order: 2;
}

.coordinator-name {
  margin-bottom: var(--space-xxs);
  font-weight: 500;
}

.contact-position {
  margin-bottom: var(--space-md);
  font-weight: 400;
}

.contact-email {
  text-decoration: underline;
  color: var(--color-primary);
  font-weight: 400;
  transition: font-weight 0.1s ease-in-out;
}

.contact-email:hover {
  font-weight: 500;
  cursor: pointer;
}

/* --- Footer Components --- */
#footer-brand h4 {
  margin-bottom: var(--space-sm);
}

#footer-links,
#footer-meta {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

#footer-links a {
  color: var(--color-tertiary);
  text-decoration: none;
  font-size: var(--body-size);
}

#footer-links a:hover {
  color: var(--color-background);
  text-decoration: underline;
}

/*--- Individual Subjects Page ---*/

.schedule iframe {
  width: 100%;
  border: none;
  border-radius: 20px;
  background: var(--color-background);
  overflow: auto;
}

#subject-info,
#subject-disclaimer h3 {
  max-width: 65ch;
}

#subject-disclaimer h3 {
  color: var(--color-primary);
  font-weight: 500;
}

#subject-description {
  margin-top: var(--space-md);
}

#etc-info h4 {
  font-weight: 400;
  margin-bottom: var(--space-md);
}

#drop-in-info h1,
#online-info h1 {
  margin-bottom: var(--space-md);
}

#etc-info h1 {
  margin-bottom: var(--space-sm);
}

#etc-info h4 {
  color: var(--color-primary);
  font-weight: 500;
}

#in-person-location li {
  font-size: var(--h3-size);
  margin-bottom: var(--space-sm);
}

/* --- Apply For Work Page ---*/
#work-hero h1 {
  margin-bottom: var(--space-md);
}

.work-section-inner h1 {
  margin-bottom: var(--space-lg);
}

.work-section-inner h2 {
  margin-bottom: var(--space-sm);
}

.work-section-inner li {
  font-size: var(--h3-size);
}

.work-section-inner ul {
  margin-bottom: var(--space-lg);
}

.work-section-buttons {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

#math-etc-circle,
#pass-circle,
#wrc-circle {
  display: none;
}

/* --- English PASS / WRC Center Page --- */

.tutoring-options-inner h1:first-child {
  padding-bottom: var(--space-md);
  border-bottom: 1px solid var(--color-text);
  margin-bottom: var(--space-md);
  text-align: center;
}

.tutoring-options-inner h2 {
  margin-bottom: var(--space-sm);
}

.tutoring-options-inner h3 {
  margin-bottom: var(--space-md);
}

.tutoring-options .container {
  display: flex;
  justify-content: center;
}

#tutoring-options-box {
  width: fit-content;
}

#tutoring-options-grid {
  text-align: left;
}

#tutoring-options-grid span {
  display: block;
}

#pass-hours {
  margin: 0 auto;
  max-width: fit-content;
}

#pass-hours .closed-info {
  text-align: center;
}

.questions-section-inner h1 {
  margin-bottom: var(--space-md);
}

.questions-section-inner span {
  color: var(--color-primary);
}

.email-phone {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-md);
  transition: font-weight 0.1s ease-in-out;
}

.email-title {
  font-weight: 500;
}

.email-data {
  color: var(--color-primary);
  text-decoration: underline;
  font-size: var(--h3-size);
}

.email-data:hover {
  font-weight: 500;
  cursor: pointer;
}

#services-circle {
  display: none;
}
