.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 var(--space-lg);
}

header {
  background-color: var(--color-white);
  position: sticky;
  top: 0;
  z-index: 800;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: auto;
  padding: var(--space-sm) 0;
  margin: 0;
  width: 100%;
}

#navbar {
  display: flex;
  align-items: center;
  font-size: var(--btn-size);
}

/* Sidebar Layout & Overlay */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 900;
}

#overlay.active {
  opacity: 1;
  visibility: visible;
}

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  width: 260px;
  height: 100vh;
  background-color: var(--color-background);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

#sidebar.open {
  transform: translateX(0);
}

#sidebar-inner {
  display: flex;
  flex-direction: column;
  padding: var(--space-xxl) var(--space-md);
}

/* Section Wrappers */
#hero {
  display: flex;
  flex-direction: column;
  position: relative;
}

#hours-background {
  background-color: var(--color-secondary);
}

#work-cta {
  position: relative;
  display: block;
  padding: var(--space-xl) 0;
}

#work-cta::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.5vw;
  height: 100%;
  background: maroon;
}

/* --- Subjects Hero --- */
#subjects-hero,
#subjects-hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#subjects-hero {
  position: relative;
  text-align: center;
}

#subjects-hero-content {
  display: inline-flex;
  flex-direction: column;
  margin: 0 auto;
  padding: var(--space-xl) 0;
  width: 100%;
}

.subjects-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-md);
  border-top: 1px solid var(--color-text);
  padding-top: var(--space-md);
  text-align: left;
}

/* --- Contacts Wrapper --- */

#contact-hero {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-sm);
}

#contacts-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-md);
  place-items: center;
  padding-bottom: var(--space-xl);
}

/* Footer Layout */
#site-footer {
  color: var(--color-background);
  background-color: var(--color-primary);
  padding: var(--space-xl) 0;
}

#footer-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg);
}
