<div class="container" id="footer-content">
  <div id="footer-brand">
    <h4>Fresno City College Tutorial Services</h4>
    <p>Supporting student success through in-person and online tutoring.</p>
  </div>
  <div id="footer-links">
    <h4>Quick Links</h4>
    <a href="../services/wrc.html">Writing and Reading Center</a>
    <a href="../services/english-pass.html">PASS - English Support Center</a>
    <a href="../services/computer-lab.html">Computer Lab Assistance</a>
    <a href="../wip.html">NetTutor</a>
    <a href="../wip.html">West Fresno Tutorial Center</a>
    <a href="../contact.html">Contact Us</a>
  </div>
  <div id="footer-meta">
    <h4>Hours</h4>
    <p>Monday - Thursday<br>8:00 am - 7:00 pm</p>
    <p>Friday<br>8:00 am - 2:00 pm</p>
    <p>Sunday<br>2:00 pm - 7:00 pm</p>
  </div>
</div>