<div class="container" id="navbar-inner">
  <a href="../index.html">
    <img src="../assets/images/public/logoipsum-394.png" id="main-logo">
  </a>
  <nav class="upper-icons">
    <nav id="nav-dropdown">
      <button id="nav-dropdown-btn">Services <span id="nav-dropdown-arrow">▾</span></button>
      <div id="nav-dropdown-content">
        <a href="../services/computer-lab.html">Computer Lab Assistance</a>
        <a href="../services/english-pass.html">English PASS Center</a>
        <a href="../services/wrc.html">Writing & Reading Center</a>
        <a href="../wip.html">NetTutor</a>
      </div>
    </nav>
    <a href="../contact.html">Contact Us</a>
    <a href="../work.html">Apply For Work</a>
  </nav>
  <nav class="upper-buttons">
    <a href="../subjects.html" class="btn primary-btn">Find Subject</a>
    <a href="../wip.html" class="btn secondary-btn">Join Online Tutoring</a>
  </nav>
  <button id="sidebar-btn">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </button>
</div>