<div id="sidebar-inner">
  <button id="sidebar-exit-btn"></button>
  <nav class="sidebar-icons">
    <nav id="sidebar-dropdown">
      <button id="sidebar-dropdown-btn"><span id="sidebar-dropdown-arrow">▾</span>Services</button>
      <div id="sidebar-dropdown-content">
        <a href="../services/computer-lab.html">Computer Lab Assistance</a>
        <a href="../services/english-pass.html">English PASS Center</a>
        <a href="../services/wrc.html">Writing & Reading Center</a>
        <a href="#">NetTutor</a>
      </div>
    </nav>
    <a href="../contact.html">Contact Us</a>
    <a href="../work.html">Apply For Work</a>
  </nav>
  <nav class="sidebar-buttons">
    <a href="../subjects.html" class="btn primary-btn">Find Subject</a>
    <a href="../wip.html" class="btn secondary-btn">Join Online Tutoring</a>
  </nav>
</div>